<!-- <div class="main-div">

    <div class="hero-container">
        <div class="bck-img">
            <img src="../assets/darth-vader.jpg" alt="bck-img">
        </div>
        <div class="txt-over-img">
          
            <h1 class="hero1">Mission Accepted </h1>
            <h1 class="hero2">Welcome to the darkSide</h1>
            <p>Im one with the force, the force is with me. With the help of force here lis a list of conqured planets
            </p>
           <div class="btn-container">
                <button mat-raised-button color="accent" class="btn" type="button" (click)="listDisplay()">Check List</button>
              
           </div>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>
