.container{
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
.hero-container{
    text-align: center;
}
.bck-img img{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.txt-over-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .btn-container button{
    padding: 15px;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 10px;
  }
.txt-over-img h1{
    font-size: 60px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.txt-over-img p {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}